body table {
  border: 2px solid grey;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

body tbody {
  vertical-align: top;
}

body td {
  word-wrap: break-word;
}

body td, th {
  border: 2px solid grey;
  padding: 8px;
}

body thead th:nth-of-type(2) {
  width: 50%;
}

body tr:nth-of-type(even) {
  background: #f8f8f8;
}

body td ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body td ul li {
  margin-bottom: 8px;
}